@keyframes pulse {
	from {
		opacity: 0.2;
		scale: 0.7;
	}
	to {
		opacity: 0.6;
		scale: 1;
	}
}

@keyframes background-rainbow {
	0% {
		background-color: red;
	}
	50% {
		background-color: blue;
	}
	100% {
		background-color: yellow;
	}
}

:root {
	--grid-width: 3;
	--current-player-marker: "X";
}

body {
	max-width: 400px;
	margin: 50px auto;
	padding: 0 20px;
	font-family: sans-serif;
}

[data-highlight="true"] {
	color: white;
	animation: background-rainbow 2s infinite alternate-reverse linear;
}

p {
	margin-left: -2px;
}

main {
	display: grid;
	aspect-ratio: 1;
	grid-template-columns: repeat(var(--grid-width), 1fr);
	grid-auto-rows: 1fr;
	gap: 2px;
	background-color: black;
	outline: 2px solid black;
	resize: horizontal;
	overflow: auto;

	> div {
		container-type: size;
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;

		> span {
			font-size: 60cqh;
		}

		main:not([data-is-game-over="true"]) &:not([data-contains]) {
			cursor: pointer;
		}

		main:not([data-is-game-over="true"]) &:hover {
			/* outline: 5px dashed red;
			outline-offset: -5px; */

			&:not([data-contains])::after {
				font-size: 60cqh;
				pointer-events: none;
				cursor: default;
				content: var(--current-player-marker);
				opacity: 0.5;
				animation: pulse 1s infinite alternate-reverse linear;
			}
		}
	}
}

.scoreboard {
	display: grid;
	grid-template-columns: repeat(2, auto);
	background-color: grey;
	border: solid 2px grey;
	margin-top: 20px;
	margin-left: -2px;
	gap: 2px;

	> p {
		background-color: white;
		margin: 0;
		padding: 10px;
	}
}

#new-round {
	padding: 20px 30px;
	margin-left: -2px;
	margin-top: 20px;
	font-size: 1.3rem;
	cursor: pointer;
	width: 100%;

	&[disabled] {
		cursor: not-allowed;
	}
}

form {
	margin-top: 20px;
	margin-left: -2px;
	text-align: right;

	input {
		width: max-content;
		font-size: 1rem;
	}
}
